<%- include('header') %>
<div class="box" id="heading">
<h1>About</h1>
</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi dolore, deserunt nobis aut magnam, tempora odio unde laborum, exercitationem dolorum id. Sunt vel deleniti laborum minima soluta iste, molestias dolorum!</p>

<%- include('footer') %>